body{
    margin: 0;
    padding: 0;
}

.header{
    height: 44px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: gray;
    line-height: 44px;
    display: flex;
}

.logo{
    height: 40px;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
}

.header > .nav{
    width: 100%;
}

.nav ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
    position: absolute;
    padding: 0;
}

.nav .active_page{
    background-color: rgba(255, 0, 0, 0.3)
}

.nav a{
    text-decoration: none;
    color: yellow;
}

#main{
    height: 100vh;
    background-color: bisque;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main > .add_book, #main > .add_member {
    margin-top: 44px;
}

.book_library{
    display: flex;
    width: 100%;
}

.book_library > div{
    width: 30%;
    height: calc(100vh - 93px);
    border-right: 1px solid black;
}

.book_library > div > ul{
    height: 100%;
    overflow-y: scroll;
}


.book_library > div:last-child{
    border-right: 0px;
}

.inputs > span{
    margin-left: 30px;
    display: inline-block;
    width: 63px;
    margin-top: 20px;
}

.book_library > div > span[name="book_title"]{
    display: inline;
}

.book_library > div > p{
    margin-left: 30px;
    display: none;
}

input[type="number"]{
    width: 50px;
}

.book_item{
    margin-bottom: 15px;
}

.noti{
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 8px;
    transform: translateY(-5px);
    border-radius: 5px;
}

.add_book > button, .add_member > button{
    margin-left: 20px;
    margin-top: 10px;
}

#add_book_modal{
    display: none;
    height: 300px;
    width: 500px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-55%);
    border: 1px solid black;
    background-color: antiquewhite;
    border-radius: 20px;
    opacity: 0.9;
}

#add_book_modal > h2{
    text-align: center;
}

#add_book_modal > button{
    position: relative;
    top: 20px;
    left: 28px;
}

#add_book_modal select{
    position: relative;
    top: 10px;
    left: 26px;
}

.content{
    display: flex;
    background-color: bisque;
}

.content > div{
    height: 600px;
    width: 50%;
}

.content > div:first-child{
    border-right: 1px solid gray;
}

.members > li{
    margin-top: 30px;
    list-style: none;
    cursor: pointer;
}

#card img{
    height: 200px;
}

#card *{
    display: block;
}

#card span{
    margin-left: 20px;
}

.content table{
    text-align: center;
    border-collapse: collapse;
}

.content table > tr > *{
    border: 1px solid black;
}

